.light-mode {
    background-color: #ffffff; 
    color: #000000; 

    input, select {
        color: #000000; 
      }
  }


  .dark-mode {
    background-color: #1a202c; 
    color: #ffffff;
    
    input, select {
        color: #000000; 
      }
  }

.poster {
    max-width: 250px;
}


