.light-mode {
    background-color: #ffffff; 
    color: #000000; 

    input, select {
        color: #000000; 
      }
  }


 .dark-mode {
    background-color: #1a202c; 
    color: #ffffff;
    
    input, select {
        color: #000000; 
      }
  }



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

header,
footer {
    background-color: firebrick;
    color: white;
    padding: 15px 0;
}

header h1 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr; 
    grid-gap: 20px; 
    padding: 20px;
}

#search-entry {
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    grid-area: 1 / 1 / 2 / 2;
}

#search-entry label {
    margin-bottom: 5px;
}

#search-entry input[type="text"],
#search-entry button[type="submit"],
#search-entry select {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

#search-entry button[type="submit"] {
    background-color: gold;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

#results-container {
    background-color: burlywood;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    grid-area: 1 / 2 / 2 / 4;
}

nav {
    background-color: crimson;
    padding: 10px 0;
    text-align: center;
    border-radius: 10px;
    grid-area: 2 / 1 / 3 / 4;
}

footer {
    background-color: firebrick;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: auto; 
}

.poster {
    max-width: 150px;
}

.light-mode body {
    background-color: #ffffff; 
    color: #000000; 
}

.light-mode header,
.light-mode footer {
    background-color: firebrick; 
}

.light-mode input,
.light-mode select,
.light-mode button {
    border-color: gray; 
}


.dark-mode body {
    background-color: #1f2937; 
    color: #f5f7fa; 
}

.dark-mode header,
.dark-mode footer {
    background-color: #374151; 
}

.dark-mode input,
.dark-mode select,
.dark-mode button {
    border-color: #6b7280; 
}

.dark-mode #search-entry {
    background-color: #374151; 
}

.dark-mode #results-container {
    background-color: #374151;
    input, select {
        color: #000000; 
      } 
}

.dark-mode #above-below {
    color: #000000;
   
}

.dark-mode #genre {
        color: #000000; 
      
}